.MenuButton{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 250px;
    background-color:orange;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    cursor: pointer;
}

.MenuBar{
    margin-top: 100px;
}
